{% extends 'base.html.twig' %}

{% block title %}Service liste{% endblock %}

{% block body %}
    <section id="listeService">
        {% for service in services %}
            <article>
                <img src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="Image de {{ service.label }}">
                <h5>{{ service.label }}</h5>
                <p><strong>Publié par : </strong>{{ service.publisher }}</p>
                <p>{{ service.descriptionService | nl2br | slice(0,50)}}</p>
                <p><strong>Publié le : </strong>{{ service.createdAt | date('d/m/y à H:i') }}</p>
                <p><strong>Catégorie(s) : </strong>{{ service.category.name }}</p>
                <footer>
                    <a href="{{ path('app_services_show', {'slug' : service.slug}) }}">Détail</a>
                    {% if service.getPublisher() == app.user and is_granted('ROLE_GARAGISTE')%}
                        <a href="{{ path('app_services_update', {'slug' : service.slug}) }}">Modifier</a>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% include '/service/_delete_form.html.twig' %}
                    {% endif %}
                </footer>
            </article>
        {% endfor %}
    </section>
{% endblock %}