{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Label</th>
            <td>{{ service.label }}</td>
        </tr>
        <tr>
            <th>Image du garage</th>
            <td><img style="max-width: 250px;" src="/assets/images/uploads/service/{{ service.imageName }}"
                     class="card-img-top" alt="Image de {{ service.label }}"></td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DescriptionService</th>
            <td>{{ service.descriptionService }}</td>
        </tr>
        <tr>
            <th>Categorie du service</th>
            <td>{{ service.category }}</td>
        </tr>
        <tr>
            <th>Horaire d'ouverture</th>
            <td><img style="max-width: 250px;" src="/assets/images/uploads/horaire/{{ service.imageHoraireName }}"
                     class="card-img-top" alt="Horaire du garage de {{ service.publisher }}"></td>
        </tr>
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <aside>M'envoyer un mail :
        {{ form_start(messageForm) }}
            {{ form_widget(messageForm) }}
            <input type="submit" class="btn btn-outline-info" value="Cliquer ici !">
        {{ form_end(messaegForm) }}
    </aside>
    {% endif %}

    <a href="{{ path('app_services_liste') }}" class="btn btn-outline-success">Retour vers la liste des produits</a>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_GARAGISTE') %}
        {% if service.getPublisher() == app.user %}
            {{ include('service/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
