{% extends 'base.html.twig' %}

{% block title %}Liste de Catégories{% endblock %}

{% block body %}
    <h1>Liste de Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_update', {'slug': category.id}) }}" class="btn-outline-warning">Modifier</a>
                    <a href="{{ path('app_category_delete', {'slug': category.id}) }}" class="btn-outline-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de catégories trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_create') }}">Créer une nouvelle catégorie</a>
{% endblock %}
